In [1]:
import pandas as pd
import numpy as np

Load previous data frame

In [5]:
df_pcode1=pd.read_csv('df_pcode1.csv',index_col=0)

In [6]:
df_pcode1.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                          Queen's Park
4      M1H  Scarborough                             Cedarbrae

In [7]:
df_pcode1.shape

(103, 3)

import geodata csv

In [8]:
df_geodata=pd.read_csv('http://cocl.us/Geospatial_data')

In [9]:
df_geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
df_geodata.shape

(103, 3)

In [11]:
df_geodata.rename(columns = {'Postal Code':'Postcode'}, inplace = True)

In [12]:
df_geodata.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

Merge data frames

In [13]:
df_pcode2=pd.merge(df_pcode1,df_geodata,on='Postcode')

In [14]:
df_pcode2.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Queen's Park,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [15]:
df_pcode2.rename(columns = {'Postcode':'PostalCode'}, inplace = True)

In [16]:
df_pcode2.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Queen's Park,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [17]:
df_pcode2.shape

(103, 5)

In [18]:
df_pcode2.to_csv('df_pcode2.csv')